@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


/* Add this to your CSS file */
.dropdown-menu {
  opacity: 0;
  transform: translateY(4px); 
  transition: all 0.3s ease-in-out; 
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0); 
}


.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}